body {
  background: linear-gradient(180deg, #f7e9fa, #ffedfb);
}
form {
  background-color: white;
  width: 400px;
  height: 500px;
  margin: 5% 30%;
  padding-top: 30px;
}
h2 {
  margin: 20px 0px 0px 30px;
}
input[type="text"],
[type="email"] {
  width: 80%;
  margin: 10px 0px 10px 40px;
  border: solid rgb(247, 238, 239);
}
.message {
  height: 10rem;
}
input[type="submit"] {
  margin-left: 20rem;
  width: 50px;
  height: 40px;
  background-color: rgb(241, 142, 158);
  border: solid rgb(241, 142, 158);
  font-size: 20px;
  color: white;
}
@media only screen and (max-width: 700px) {
  form {
    margin: 10% 0%;
  }
}
